<% begin %>
	<% if( !( @user.nil? || @userrun.nil? )) %>
		Hallo <%= @user.name  %>
		<p>soeben ist eine neue Folge von 
		<%= Run.find(@userrun.run_id).name %> erschienen !</p>
	<% end %>
<% rescue %>
	 INTERNAL DATABASE FAILURE, PLEASE REPORT TO TERMINATOR!

	<p>Wenn du diese Nachricht nicht mehr bekommen moechtest, geh auf URL und aendere die Einstellungen deiner Serien! </p>
	<p>Viel Spass</p>

<% end %>
