<h1>Welcome to Wimso</h1>

<% if user_signed_in?  %>
<br/>
<% if !(@allusers.empty?) %>
<h3> Users</h3>
<% end %>
<% if (@allusers.empty? && @allruns.empty?) %>
<h2>no matches found </h2>
<% end %>
<table>



<% if !(@allusers.empty?) %>
	<tr>
	    <th>Name</th>
	    <th></th>
	  </tr>

	<% @allusers.each do |user| %>
	<% show = true %>
	<% current_user.friends.each do |fr| %>
		<% if fr.id == user.id || user.id == current_user.id%>
			<% show = false %>
		<% end %>
	<% end %>	
	
	
	  <tr>
			<td><%=link_to user.name, show_profile_path(user.id)%></td>
			<td>
				<% if show == true %>
					<%= link_to "add as friend", add_friend_path(:id=> user.id), :method => :put %>
				<% else %>
					<% if user.id != current_user.id %>
					is your friend
					<% end %>
				<% end %>
			</td>
	  </tr>
	<% end %>
<% end %>
<% if !(@allruns.empty?) %>
	<th>serie</th>
	<th>Tag</th>
	<% @allruns.each do |run| %>
	  <tr>
		<td><%= link_to run.name, run_path(run) %></td>
		<td>
			<% run.tag.each do |tg| %>
			<%= link_to tg.name, search_path(:q => tg.name), :method => :post %>
			<% end %> 
		</td>
	  </tr>
	<% end %>
<% end %>
</table>


<% end %>
<br />
